<html>
<head>
  <title>Customer Tool</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"></link>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.fontawesome.com/e36192e386.js"></script>
</head>

<body style="background-color: #F5F5F5;">
  <div id="app"></div>
</body>

</html>
